.header {
    color: #444649;
    font-family: "Raleway Heavy";
    font-size: 30pt;
    position: relative;
    position: relative;
}

.header-bar {
    background: #444649;
    height: 4px;
    margin: 15px 0 50px 0;
    width: 70px;
}

.flex.row {
    flex-direction: row;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-wrap {
    flex-direction: row;
}

.bullet-wrap {
    height: 230px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    justify-content: flex-start;
    color: #616161;
}

.title-text {
    font-size: var(--title-text-size-md);
}

.hex-wrap {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 100px;
    width: 100px;
}

.hexagon {
    background-color: #04c2c9;
    display: inline-block;
    height: 100%;
    width: calc(100% * 0.57735);
}

.hexagon:before {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(60deg);
    width: inherit;
}

.hexagon:after {
    background-color: inherit;
    content: "";
    height: inherit;
    position: absolute;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    top: 0;
    transform: rotateZ(-60deg);
    width: inherit;
}

.hexagon img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.flex.row-gt-sm {
    flex-direction: row;
}

section .flex-50-gt-sm {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    max-height: 100%;
    max-width: 50%;
}

.skills-wrapper {
    align-items: flex-start;
    text-align: center;
    width: 100%;
    margin: 0 10%;
    overflow: hidden;
}

.skills-wrapper .me {
    height: 250px;
    width: 290px;
}

.skills-wrapper>.flex:first-child {
    padding: 0 50px 0 50px;
}

.label {
    font-family: 'Raleway Heavy';
    margin: 15px 0 10px 0;
    font-size: 18pt;
    font-weight: 500;
    color: #4A4E69;
}

.bars-wrap {
    max-width: 90%;
    display: block;
    width: calc(100% - 15px);
}

.bar {
    align-items: flex-end;
    box-sizing: content-box;
    background-color: #eee;
    color: #666;
    font-size: 11pt;
    font-family: 'Futura';
    height: 28px;
    margin: 0 0 15px 0;
    position: relative;
}

.bar.fill {
    border: none;
    left: 0;
    position: absolute;
    top: 0;
    background-color: #00a1a7;
    opacity: 1;
    padding: 0;
}

.bar:nth-child(1) .fill {
    transition: 1.1s 0.2s width ease-in-out;
}

.bar .tag {
    left: 0;
    position: absolute;
    top: 0;
    background-color: #04c2c9;
    color: #fff;
    height: 100%;
    width: 110px;
}

.bar span {
    padding: 0 15px 0 0;
    z-index: 1;
}

.animated.slide-in-left {
    animation: slideInLeft 0.75s ease both;
}

.about-lead {
    color: #616161;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.1em;
    font-family: "Effra Light";
    transition: all 0s ease-in-out;
}

.animated-progress {
    animation: initState 1s ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

@keyframes initState {
    0% {
        width: 0;
    }
}

.logo {
    max-height: 100px;
}