@font-face { font-family: 'Effra Light'; src: url('../font/Effra_Std_Lt.ttf'); } 
@font-face { font-family: 'Effra'; src: url('../font/Effra_Std_Rg.ttf'); } 
@font-face { font-family: 'Effra Medium'; src: url('../font/Effra_Std_Md.ttf'); } 
@font-face { font-family: 'Effra Heavy'; src: url('../font/Effra_Std_Rg.ttf'); } 
