@font-face { font-family: 'Effra Light'; src: url('../font/effra/Effra_Std_Lt.ttf'); } 
@font-face { font-family: 'Effra'; src: url('../font/effra/Effra_Std_Rg.ttf'); } 
@font-face { font-family: 'Effra Medium'; src: url('../font/effra/Effra_Std_Md.ttf'); } 
@font-face { font-family: 'Effra Heavy'; src: url('../font/effra/Effra_Std_Rg.ttf'); } 


@font-face { font-family: 'Futura Light'; src: url('../font/futura/Futura\ Light\ font.ttf'); } 
@font-face { font-family: 'Futura'; src: url('../font/futura/futura\ medium\ bt.ttf'); } 
@font-face { font-family: 'Futura Heavy'; src: url('../font/futura/Futura\ Heavy\ font.ttf'); } 


@font-face { font-family: 'Raleway Light'; src: url('../font/Raleway/Raleway-Light.ttf'); } 
@font-face { font-family: 'Raleway'; src: url('../font/Raleway/Raleway-Regular.ttf'); } 
@font-face { font-family: 'Raleway Heavy'; src: url('../font/Raleway/Raleway-SemiBold.ttf'); } 

.bold {
    font-family: "Futura Heavy";
}